---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Postcard from "../../Components/Postcard";
const allPosts = await Astro.glob("./posts/*.md");

const pageTitle = "MB | Blooog";
const pageDescription =
  "Personal portfolio showcasing web development projects with an integrated blog. Utilizes HTML, CSS, and JavaScript for frontend, Git for version control, and continuous deployment. Optimized for performance and user experience. Follow for updates";
const pageUrl = "https://borgesmj.github.io/blog/";
const pageImg = "https://avatars.githubusercontent.com/u/121818423?v=4";
const twitterCardUrl = "@https://borgesmj.github.io/blog/";
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  pageUrl={pageUrl}
  pageImg={pageImg}
  twitterCardUrl={twitterCardUrl}
>
  <h2
    class="w-full text-left text-2xl border-b-2 border-b-solid border-d-white py-4 px-4 italic font-bold"
  >
    My Blog
  </h2>
  <section class="p-4 flex flex-col w-full lg:w-3/4">
    <h3>Welcome to my blog</h3>
    <p>Where I will post my learning path in this marvelous world of tech</p>
    <div class="flex flex-wrap justify-between w-full gap-4">
      {
        allPosts.map((post) => (
          <Postcard
            postUrl={post.url}
            postTitle={post.frontmatter.title}
            postImageUrl={post.frontmatter.image.url}
            postImageAlt={post.frontmatter.image.alt}
          />
        ))
      }
    </div>
  </section>
</BaseLayout>
