---

// Importar plantilla base
import BaseLayout from "../layouts/BaseLayout.astro";
// Componentes
import Header from "../Components/Profile/Header";
import ProfileInfo from "../Components/Profile/ProfileInfo"
import Router from "../Components/Profile/Router"
// constantes e la pagina
const pageTitle = "MB | Web Developer";
const pageDescription =
  "Personal portfolio showcasing web development projects with an integrated blog. Utilizes HTML, CSS, and JavaScript for frontend, Git for version control, and continuous deployment. Optimized for performance and user experience. Follow for updates";
const pageUrl = "https://borgesmj.github.io/";
const pageImg = "https://avatars.githubusercontent.com/u/121818423?v=4";
const twitterCardUrl = "@https://borgesmj.github.io/";
// realizar fetch de github
const response = await fetch("https://api.github.com/users/borgesmj");
const data = await response.json();
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  pageUrl={pageUrl}
  pageImg={pageImg}
  twitterCardUrl={twitterCardUrl}
>
  <div class="flex flex-col justify-center w-full items-center pb-4">
    <Header/>
    <ProfileInfo
      bio = {data.bio}
      location = {data.location}
    />
    <Router client:only="react"/>
  </div>
</BaseLayout>
