---
import Navbar from "../Components/Navbar";
import Infobar from "../Components/Infobar";
const { pageTitle, pageDescription, pageUrl, pageImg, twitterCardUrl } = Astro.props;
import "../styles/global.css";
const allPosts = await Astro.glob("../pages/blog/posts/*.md");
const pathName = new URL(Astro.request.url).pathname;
const currentPath = pathName;

---

<html lang="en">
  <head>
    <meta name="generator" content={Astro.generator} />
    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Page title -->
    <title>{pageTitle}</title>
    <!-- meta  -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={pageDescription} />
    <meta name="author" content="Borgesmj" />
    <meta name="robots" content="index, follow" />
    <!-- Graph QL -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Portfolio website" />
    <meta property="og:url" content={pageUrl} />
    <meta
      property="og:image"
      content={pageImg}
    />
    <meta
      property="og:description"
      content={pageDescription}
    />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Portfolio website" />
    <meta name="twitter:site" content={twitterCardUrl}/>
    <meta
      name="twitter:description"
      content={pageDescription}
    />
    <meta
      name="twitter:image"
      content={pageImg}
    />
  </head>
  <body
    class="bg-background-100 text-white mx-auto my-0 md:ml-[17rem] lg:mx-auto lg:my-0 py-4 px-0 lg:py-4 2xl:py-12 2xl:px-8"
  >
    <Navbar 
      currentPath = {currentPath}
      }
    />
    <slot />
    <Infobar allPosts={allPosts} />
  </body>
</html>
