---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { navlinks, profile, socials } from "../data/data";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-oceanic-noir text-white antialiased">
    <Header profileData={profile} socialLinks={socials} navlinks={navlinks} />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  }
  body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .transition{
    transition: all 0.3s ease-out;
  }
</style>
